$primary-color: #7d6d92;
$primary-color-light: #9b93bf;
$primary-color-extralight: rgb(226,219,236);
$text-color: white;
$text-color-dark: #2e2e36;
$secondary-color: #626474;
$color-3: #A4CEAF;
$color-4: #F0E6EF;
